<footer id="footer" class="sm:flex sm:flex-row-reverse bg-slate-900 text-slate-200">
  <div id="mapEmbed" class="relative w-full sm:max-w-[50%] bg-slate-700">
    Loading Google Map Location...
  </div>
  
  <div class="p-8 mx-auto w-fit flex flex-col gap-3 text-sm">
    <div>
      <i class="mr-2 text-sky-300"><%-include("../../dist/icons/earth-asia.svg")%></i>
      <span>Notre Dame of HolyCross School [CBSE], <br>Gundukalloore, Salem - 636 140, Tamil Nadu.</span>
    </div>

    <div>
      <i class="mr-2 text-sky-300"><%-include("../../dist/icons/phone.svg")%></i>
      <span class="text-slate-300">+91 427-2241800</span> <span class="text-slate-400 font-thin text-xs">Primary School</span>
      <a class="text-slate-400 ml-2" href="tel:+914272241800"><i class=""><%-include("../../dist/icons/up-right-from-square.svg")%></i></a>
    </div>

    <div>
      <i class="mr-2 text-sky-300"><%-include("../../dist/icons/phone.svg")%></i>
      <span class="text-slate-300">+91 427-2241803</span>
      <a class="text-slate-400 ml-2" href="tel:+914272241803"><i class=""><%-include("../../dist/icons/up-right-from-square.svg")%></i></a>
    </div>

    <div>
      <i class="mr-2 text-sky-300"><%-include("../../dist/icons/r-envelope.svg")%></i>
      <span>notredamehcs@gmail.com</span>
      <a class="text-slate-400 ml-2" href="mailto:notredamehcs@gmail.com"><i class=""><%-include("../../dist/icons/up-right-from-square.svg")%></i></a>
    </div>

    <div class="mt-4">
      <a href="https://m.youtube.com/@ndhcsmedia5640">
        <i class="text-rose-600 mr-2 text-xl"><%-include("../../dist/icons/youtube.svg")%></i>
        <span class="text-rose-300">Check out latest events on YouTube!</span>
      </a>
    </div>

    <p class="mt-4 text-center text-xs">
      Copyright © 2022 <br> Design & Development by 
      <a href="https://skndash.tk/" crossorigin>Dash Skndash.</a>
    </p>
  </div>
</footer>
