<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notre Dame Salem</title>

  <%- include("partials/head.ejs"); %>
  
  <link rel="stylesheet" href="out.css">
  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include("partials/loader.ejs"); %>
  <%- include("partials/header.ejs"); %>
  
  <main class="px-4 py-8 mx-auto w-fit max-w-2xl">
    <i class="block mx-auto text-amber-500 text-7xl fa-solid fa-triangle-exclamation"></i>
    
    <h2 class="mt-4 font-bold text-center">
      404 - Page Not Found
    </h2><br>
    
    <p class="mt-4">Uh! The page does not seem to exist. You've been mislead. </p>
    <p class="mt-4">Why don't you go to the homepage and look for grab something better? Seems like a good idea.</p>
    
    <a href="/" class="mt-4 classic">
      <i class="mr-2"><%-include("../dist/icons/angle-right.svg")%></i> Home Page
    </a>
  </main>

  <%- include("partials/footer.ejs"); %>
  <script src="scripts/index.js"></script>
</body>
</html>