<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notre Dame Salem</title>

  <%- include("partials/head"); %>
  
  <link rel="stylesheet" href="out.css">
  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="px-4 py-8 mx-auto w-fit max-w-2xl">
    <i class="block mx-auto text-amber-500 text-7xl"><%-include("../dist/icons/triangle-exclamation.svg")%></i>
    
    <h2 class="mt-4 font-bold text-center">
      500 - Server Error
    </h2><br>

    <div class="relative w-fit group">
      <i class=""><%-include("../dist/icons/circle-info.svg")%></i>
      <div id="message" class="z-10 p-2 absolute -top-2 -right-2 translate-x-full hidden group-hover:block bg-slate-800 text-gray-50"></div>
    </div>
    <p class="mt-4">Something went wrong! The mistake is probably on our side and it'll be fixed it. Try again after sometime.</p>
    <p class="mt-4">Why don't you go to the homepage and look for something better? Seems like a good idea.</p>
    
    <a href="/" class="mt-4 classic">
      <i class="mr-2"><%-include("../dist/icons/angle-right.svg")%></i> Home Page
    </a>
  </main>

  <%- include("partials/footer"); %>
  <script src="scripts/index.js"></script>
  <script>
    window.addEventListener("load", () => {
      const emsg = document.getElementById("message")
      
      const params = window.location.href.split("?").length > 1 && Object.fromEntries(window.location.href.split("?")[1].split("&").map(x => [x.split("=")[0], decodeURIComponent(x.split("=")[1])]))
      if (params?.m) emsg.textContent = params.m
    })
  </script>
</body>
</html>