<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auth - Notre Dame Salem</title>

  <%- include("partials/head"); %>
  
  <link rel="stylesheet" href="out.css">
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="min-h-[80vh] flex flex-col justify-center items-center">
    <div class="p-8 max-w-xl bg-slate-200">
      <h2 class="mt-4 font-bold text-center">
        Admin Auth
      </h2>
      
      <form id="authForm" class="w-fit mx-auto">
        <div class="mt-8 relative">
          <input name="email" class="px-2 py-1 peer bg-gray-50 focus:outline-none" required>
          <label class="absolute left-2 peer-invalid:left-4 peer-focus:left-2 -top-6 peer-invalid:top-2 peer-focus:-top-6 transition-all"> Email </label>
        </div>
      
        <div class="mt-8 relative">
          <input name="password" class="px-2 py-1 peer bg-gray-50 focus:outline-none" type="password" required>
          <label class="absolute left-2 peer-invalid:left-4 peer-focus:left-2 -top-6 peer-invalid:top-2 peer-focus:-top-6 transition-all"> Password </label>
        </div>
      
        <button type="submit" class="mt-8 px-2 py-1 w-fit mx-auto block shadow-md font-bold bg-sky-600 text-gray-50">
          <i class="mr-2"><%-include("../dist/icons/user-tie.svg")%></i> Login
        </button>
      </form>
      
      <p id="formStatus" class="mt-2 hidden text-center"></p>
    </div>
    <div class="my-8 max-w-md text-slate-600">
      If you're a visitor, use this:<br>
      Email- visitor.ndhcs@gmail.com<br>
      Password- 12345678<br>
      <img id="rickroll" class="hidden w-full" src="images/rickroll.gif">
    </div>
  </main>

  <%- include("partials/footer"); %>
  
  <script>
    <%-include("../dist/scripts/index.js")%>
  </script>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
    import { getAuth, onAuthStateChanged, getIdTokenResult, signInWithEmailAndPassword, signOut } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-auth.js";
    
    const firebaseappConfig = {
      apiKey: "AIzaSyB9S-lwz4yOHcajjQmFD8Qj9AynV-wZ0A0",
      authDomain: "ndhcs-361bf.firebaseapp.com",
      projectId: "ndhcs-361bf",
      storageBucket: "ndhcs-361bf.appspot.com",
      messagingSenderId: "644967053944",
      appId: "1:644967053944:web:ff6463c5e53ed7c0c5cb8d",
      measurementId: "G-4QGDHBZP09"
    };

    const app = initializeApp(firebaseappConfig);
    const auth = getAuth(app);
    
    window.addEventListener("load", () => {
      const formStatus = document.getElementById("formStatus");
      
      onAuthStateChanged(auth, async user => {
        if (!user) return;

        formStatus.classList.remove("hidden");
        formStatus.style.color = "#000";
        formStatus.innerHTML = "Loading...";
        
        getIdTokenResult(user)
        .then(token => {
          let gap = Date.now()- (new Date(token.authTime)).getTime();
          if (gap > 10 * 60 * 1000) auth.signOut()
            .then(() => {
              formStatus.innerHTML = "Last Session Expired, Re-enter Credentials.";
            })
            .catch(e => {
              window.location = "/500?m="+encodeURI(e.message);
            });
          else {
            formStatus.innerHTML = "Authorized";
            window.location = "/admin";
          }
        })
        .catch(e => {
          window.location = "/500?m="+encodeURI(e.message);
        });
      });

      document.getElementById("authForm")
      .addEventListener("submit", e => {
        e.preventDefault();
        formStatus.classList.remove("hidden");
        formStatus.innerHTML = "Loading...";
        
        const data = new FormData(e.target);
        const email = data.get("email");
        const password = data.get("password");

        if (email === "visitor.ndhcs@gmail.com" && password === "12345678") {
          e.target.querySelector("button[type='submit']").disabled = true;
          document.getElementById("rickroll").classList.remove("hidden");
          document.getElementById("rickroll").scrollIntoView();
          formStatus.innerHTML = "Heh.";
          return;
        }
        
        signInWithEmailAndPassword(auth, email, password)
        .catch(e => {
          console.error(e.message);
          formStatus.style.color = "#f00";
          formStatus.innerHTML = "Bad Credentials";
        });
      });

      const queryString = window.location.href.split("?").length > 1 && Object.fromEntries(window.location.href.split("?")[1].split("&").map(x => [x.split("=")[0], decodeURIComponent(x.split("=")[1])]));
      if (queryString?.m) {
        formStatus.innerHTML = queryString.m;
        formStatus.classList.remove("hidden");
      }
    });
  </script>
</body>
</html>