<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="out.css">
  <title>Details - Notre Dame Salem</title>

  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
  <script src="scripts/nav.js"></script>
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="p-8">
    <div class="mt-4 mx-auto w-fit max-w-xl">
        <h2 class="-ml-2 font-semibold">
          Details
        </h2>

        <div class="mt-2">
          <span class="mr-8 text-stone-600">Name (as per Affiliation)</span><br>
          <span class="font-semibold">Notre Dame of Holy Cross School (CBSE) <br> Gundukalloor, Udayapatti Post, Salem - 636 140, TAMIL NADU.</span>
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Year of Establishment</span>
          <span class="font-semibold">2008</span>
        </div>
        
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Gender</span>
          <span class="font-semibold">Co-Education</span>
        </div>
        
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Classes</span>
          <span class="font-semibold">LKG to XII</span>
        </div>
        
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Streams</span>
          <span class="font-semibold">PCMB, PCM, PCB, Commerce and Social Science.</span>
        </div>
        
        <div class="mt-4">
          NOC from State or recommendation of Embassy of India obtained.
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">NOC Number</span>
          <span class="font-semibold">K. Dis.No.27106/S4/2009</span>
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">NOC Issue Date</span>
          <span class="font-semibold">24-09-2009</span>
        </div>
        
        <div class="mt-4">
          School is recongnised by authority of <a href="https://cbse.gov.in" target="_blank" referrer-policy="no-referrer">CBSE</a>.
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Affiliation Number</span>
          <span class="font-semibold">1930314</span>
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Affiliation Status</span>
          <span class="font-semibold">Provisional</span>
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Affiliation Since</span>
          <span class="font-semibold">2012</span>
        </div>
      
        <div class="mt-4 relative">
          <span class="mr-8 block text-stone-600">
            Name of Trust/Company and Validity.
            <i class="peer fa-solid fa-circle-info"></i>
            <span class="hidden peer-hover:inline -translate-y-full -translate-x-full px-1 py-0.5 w-20 text-xs text-gray-50 bg-slate-700 font-['Galeana']"> Registered Under Section 25 of the Company Act, 1956</span>
          </span><br>
          <span class="font-semibold">Brothers Of Holy Cross, Lifetime</span>
        </div>
      
        <div class="mt-4 grid grid-cols-2">
          <span class="mr-8 text-stone-600">Area of School Campus</span>
          <span class="font-semibold"> 7.92 Acres or 291373.31 Square Metres.</span>
        </div>
        
        <hr class="mx-auto h-0.5 w-[75%] max-w-xl bg-sky-500 shadow-md my-4">
    </div>

    <div class="mt-8 mx-auto w-fit">
      <h3 class="-ml-2">
        Fee Structure (2022-23)
      </h3>

      <table class="w-full max-w-4xl border">
        <colgroup>
          <col class="bg-slate-100"></col>
        </colgroup>
        
        <thead class="bg-slate-700 text-gray-50">
          <th scope="col" class="p-1 text-center border bg-slate-700 text-gray-50"></th>
          <th scope="col" class="p-1 text-center border bg-slate-700 text-gray-50">Tuition</th>
          <th scope="col" class="p-1 text-center border bg-slate-700 text-gray-50">Store</th>
          <th scope="col" class="p-1 text-center border bg-slate-700 text-gray-50">Food</th>
          <th scope="col" class="p-1 text-center border bg-slate-700 text-gray-50">Total</th>
        </thead>

        <% Object.entries({
          "LKG": [16.7, 15.1, 25.7],
          "UKG": [18.7, 15.1, 25.7],
          "STD I": [23.6, 15.2, 19.7],
          "STD II": [23.6, 15.7, 20.2],
          "STD III": [23.6, 16.2, 20.7],
          "STD IV": [23.6, 16.7, 21.2],
          "STD V": [23.6, 17.2, 21.7],
          "STD VI": [26, 16.3, 22.2],
          "STD VII": [26, 16.8, 22.7],
          "STD VIII": [26, 17.3, 23.2],
          "STD IX": [29.3, 20.2, 23.5],
          "STD X": [29.3, 21.2, 24.5],
          "STD XI": [33.3, 26.7, 26.5],
          "STD XII": [33.3, 26.7, 26.5],
        }).forEach(([k,v]) => { %>
        <tr>
          <th class="p-1 text-center" scope="row"><%= k%></th>
          <td class="px-2 py-1 text-center border"><%= v[0]*1000 %></td>
          <td class="px-2 py-1 text-center border"><%= v[1]*1000 %></td>
          <td class="px-2 py-1 text-center border"><%= v[2]*1000 %></td>
          <td class="px-2 py-1 text-center border"><%= (v[0] + v[1] + v[2])*1000 %></td>
        </tr>
        <% }) %>
      </table>
          
      <h3 class="-ml-2 mt-8">
        Bus Fee
      </h3>
      
      <p class="mt-4">
        <a href="#footer" class="border-b-2 border-b-sky-800">
          Contact</a> school for enquiries regarding stages.
      </p>
      
      <table class="mt-2 w-full mx-auto max-w-xl font-['Canela']">
        <colgroup>
          <col class="bg-slate-300">
          <col class="bg-slate-100">
          <col class="w-[5vw]">
          <col class="bg-slate-300">
          <col class="bg-slate-100">
        </colgroup>
        
        <thead>
          <th scope="col" class="p-1 text-center bg-slate-700 text-gray-50" class="bg-slate-700 text-gray-50">
            Stage </th>
          <th scope="col" class="p-1 text-center bg-slate-700 text-gray-50" class="bg-slate-700 text-gray-50">
            INR /- </th>
          <th></th>
          <th scope="col" class="p-1 text-center bg-slate-700 text-gray-50" class="bg-slate-700 text-gray-50">
            Stage </th>
          <th scope="col" class="p-1 text-center bg-slate-700 text-gray-50" class="bg-slate-700 text-gray-50">
            INR /- </th>
        </thead>

        <% [13.2, 14.5, 15.9, 17.2, 18.6, 20, 20.9, 22.2, 23.3, 23.8, 24.2, 26.4].forEach((v, i, a) => { %>
        <% if (i < 6) { %>
        <tr>
          <td class="p-1 text-center border">Stage <%= i+1 %></td>
          <td class="p-1 text-center border"><%= v*1000 %></td>
          <td></td>
          <td class="p-1 text-center border">Stage <%= i+7 %></td>
          <td class="p-1 text-center border"><%= a[i+6]*1000 %></td>
        </tr>
        <% }}) %>
     </table>

      <h3 class="mt-8">
        Get the most out of Education. We make it Worth your bill.
      </h3>
    </div>
  </main>

  <%- include("partials/footer"); %>
</body>
</html>