<!DOCTYPE html>
<html lang="en">
<head>
  <title>News and Events - Notre Dame Salem</title>

  <%- include("partials/head"); %>
  
  <link rel="stylesheet" href="out.css">
  <script src="https://kit.fontawesome.com/f3339b4404.js" crossorigin="anonymous"></script>
</head>
<body class="">
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="grow">
    <section class="p-8 bg-amber-100 min-h-none">
      <h2 class="font-semibold text-center">
        Latest News <button id="reloadNews" class="ml-2 text-lg text-slate-500 hover:bg-sky-300/50"><i class=""><%-include("../dist/icons/arrows-rotate.svg")%></i></button>
      </h2>

      <div id="news" class="mt-8 w-fit mx-auto max-w-2xl grid sm:grid-cols-2 gap-4">
        <div id="newsSpinner" class="">
          <i class="mr-2 animate-spin"><%-include("../dist/icons/spinner.svg")%></i> Loading...
        </div>
      </div>
    </section>
    
    <section class="p-4">
      <h2 class="mt-4 font-semibold text-center">
        Events
      </h2>

      <div id="events" class="mt-8 w-fit mx-auto max-w-2xl">
        <div id="eventsSpinner" class="w-fit mx-auto">
          <i class="mr-2 animate-spin"><%-include("../dist/icons/spinner.svg")%></i> Loading...
        </div>
      </div>
    </section>

    <h2 class="my-8 font-semibold text-center">
      Stay Tuned for upcoming events!
    </h2>
  </main>

  <%- include("partials/footer"); %>
  <script src="scripts/index.js"></script>
  <script type="module">
    import loadNews from "./scripts/loadnews.js"
    import loadEvents from "./scripts/loadevents.js"

    window.addEventListener("load", () => {
      document.getElementById("reloadNews")
        .addEventListener("click", e => {
          e.target.disabled = true
          loadNews(true, true)
          loadEvents(false, true)
          e.target.remove()
        })
    
      loadNews(true, false)
      loadEvents(false)
    })
  </script>
</body>
</html>