<!DOCTYPE html>
<html lang="en">
<head>
  <title>Facility - Notre Dame Salem</title>

  <%- include("partials/head"); %>
  
  <link rel="stylesheet" href="out.css">
</head>
<body>
  <%- include("partials/loader"); %>
  <%- include("partials/header"); %>
  
  <main class="p-4">
    <h2 class="font-semibold text-center">
      Student Facility
    </h2>

    <h3 class="mt-2 text-center">
      Life is for <div class="relative inline-block after:absolute after:left-0 after:-bottom-[3.24rem] after:w-16 after:h-14 after:border-2 after:border-x-transparent after:border-b-transparent after:border-t-sky-600 after:rounded-full"><span class="">Service</span></div>. Our Reputation goes by It.
    </h3>

    <div class="mt-4 mx-auto max-w-2xl w-full sm:grid sm:gap-x-4 sm:grid-cols-2 md:grid-cols-3">
      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800  md:grid-rows-1 md:grid-cols-2 sm:col-span-2 md:col-span-3">
        <div class="w-full h-full bg-slate-200">
          <img alt="Pinaacle Classes Logo" loading="lazy" src="images/pinaaccle.webp" class="w-full h-full object-cover object-left-bottom">
        </div>
        <div class="mt-2 sm:ml-2 p-2">
          <h2 class="font-semibold">
            <a rel="external nofollow" class="hover:underline" href="https://www.pinnaacleclasses.in/" target="_blank">Pinaacle Classes<i class="ml-2"><%-include("../dist/icons/up-right-from-square.svg")%></i></a>
          </h2>
          <p class="mt-2">The School has tied up with a recongnised institute - Pinaacle Coaching Institute in order to train pupils for IIT/JEE or NEET entrance exams. A section of class is segregated for the pinaacle students wherein expertised teachers teach beyond NCERT syllabus. </p>
        </div>
      </div>
    
      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800">
        <div class="w-full bg-slate-200">
          <img alt="School Buses" loading="lazy" src="images/bus.webp" class="w-full h-full object-cover object-center">
        </div>
        <div class="mt-2 p-2">
          <h2 class="font-semibold">
            Transportation
          </h2>
          <p class="mt-2">Transport system by bus is provided to the students. They support upto 60 students per bus. Buses have GPS and Bus Governer Installed for better and safer transport experience. </p>
        </div>
      </div>

      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800">
        <div class="w-full bg-slate-200">
          <img alt="School Library Books" loading="lazy" src="images/library.webp" class="w-full h-full object-cover object-center">
        </div>
        <div class="mt-2 p-2">
          <h2 class="font-semibold">
            Library
          </h2>
          <p class="mt-2">Library is provisioned to serve simply more knowledge to students. Students can access the library and undertake a certain number of books at a time. Curricular Guides, Facts, Dictionaries, Novels, Comics, Biographies etc. would be available at pupil's fingertips. </p>
        </div>
      </div>
    
      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800">
        <div class="w-full bg-slate-200">
          <img alt="Class Smartboards" loading="lazy" src="images/av.webp" class="w-full h-full object-cover object-center">
        </div>
        <div class="mt-2 p-2">
          <h2 class="font-semibold">
            SmartBoards
          </h2>
          <p class="mt-2">Smart boards or smart classrooms are installed so that students get a visual idea of what's being taught. Selective videos and demonstrations are played to the students in Smartboards. </p>
        </div>
      </div>
    
      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800">
        <div class="w-full bg-slate-200">
          <img alt="Open Playground" loading="lazy" src="images/ground.webp" class="w-full h-full object-cover object-center">
        </div>
        <div class="mt-2 p-2">
          <h2 class="font-semibold">
            Playground
          </h2>
          <p class="mt-2">Considering physical health Physical Exercise periods exist during which pupils can play in the spacious playground. Students can also join any of the teams if they excel at - Basketball, Volleyball, Football, Cricket and Kho-Kho. On their own interest, they can sign up for evening coaching classes.</p>
        </div>
      </div>
    
      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800">
        <div class="w-full bg-slate-200">
          <img alt="Spacious Auditorium Overshot" loading="lazy" src="images/auditorium.webp" class="w-full h-full object-cover object-center">
        </div>
        <div class="mt-2 p-2">
          <h2 class="font-semibold">
            Auditorium
          </h2>
          <p class="mt-2">We have a spacious aditorium that could hold more than two thousand people. Weekly gatherings and festive celeberations are held in the auditorium.</p>
        </div>
      </div>
    
      <div class="mt-8 relative grid grid-rows-[1fr_auto-fit] text-stone-800">
        <div class="w-full bg-slate-200">
          <img alt="Chemistry Laboratory Flask" loading="lazy" src="images/it.webp" class="w-full h-full object-cover object-center">
        </div>
        <div class="mt-2 p-2">
          <h2 class="font-semibold">
            Laboratories
          </h2>
          <p class="mt-2">Students are taken to Science(Phy, Chem, Bio) Laboratories to do or witness experiments. Students can also undertake things that are available in the laboratory and return it after use. </p>
        </div>
      </div>
    </div>
    
    <div class="mt-8 w-fit mx-auto sm:grid sm:grid-cols-2">
    <div class="flex flex-col">
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2 bg-sky-700">
        <i class="justify-self-center text-yellow-400"><%-include("../dist/icons/toilet-portable.svg")%></i>
        <span class="h-fit self-center font-semibold text-gray-50">Gratifying Restrooms</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2">
        <i class="justify-self-center text-2xl text-sky-700"><%-include("../dist/icons/hand-sparkles.svg")%></i>
        <span class="h-fit self-center font-semibold">Tidy Environment</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2 bg-sky-700">
        <i class="justify-self-center text-2xl text-yellow-400"><%-include("../dist/icons/shield-halved.svg")%></i>
        <span class="h-fit self-center font-semibold text-gray-50">Secure vicinity</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2">
        <i class="justify-self-center text-2xl text-sky-700"><%-include("../dist/icons/key.svg")%></i>
        <span class="h-fit self-center font-semibold">Satisfying Teachers</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2 bg-sky-700">
        <i class="justify-self-center text-2xl text-yellow-400"><%-include("../dist/icons/heart-pulse.svg")%></i>
        <span class="h-fit self-center font-semibold text-gray-50">Infirmary for Aids</span>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2">
        <i class="justify-self-center text-2xl text-sky-700"><%-include("../dist/icons/flask-vial.svg")%></i>
        <span class="h-fit self-center font-semibold">Content Laboratories</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2 bg-sky-700">
        <i class="justify-self-center text-2xl text-yellow-400"><%-include("../dist/icons/calendar-check.svg")%></i>
        <span class="h-fit self-center font-semibold text-gray-50">Eye-sweetening Events</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2">
        <i class="justify-self-center text-2xl text-sky-700"><%-include("../dist/icons/fire-flame-curved.svg")%></i>
        <span class="h-fit self-center font-semibold">Sports & Activities</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2 bg-sky-700">
        <i class="justify-self-center text-2xl text-yellow-400"><%-include("../dist/icons/spa.svg")%></i>
        <span class="h-fit self-center font-semibold text-gray-50">Mental Health Counsellor</span>
      </div>
      <div class="p-2 grid grid-cols-[1fr_4fr] gap-2">
        <i class="justify-self-center text-2xl text-sky-700"><%-include("../dist/icons/bacon.svg")%></i>
        <span class="h-fit self-center font-semibold">Healthy Snacks & Lunch</span>
      </div>
    </div>
    </div>
    
    <h3 class="my-8 text-center">
      We always try to give people more than what they expect us to give.
    </h3>
  </main>

  <%- include("partials/footer"); %>
  <script>
    <%-include("../dist/scripts/index.js")%>
  </script>
</body>
</html>